window {
    background-image: url("/path/to/your/image");
    background-size: cover;
}

#input-box {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}

#input-field {
    background-color: rgba(0, 0, 0, 0.5);
}
#user-image {
  margin-top: 0px;
  margin-left: 0px;  
  border-radius: 50%;
  border: 2px solid white;
}
#powerbar-container {
  margin-top: 40px;
  margin-left: 1000px;
}
